<div class="container__menu-bar">
  <app-menu-title></app-menu-title>
  <ul>
    <li><a href="#home" class="menu-link">Home</a></li>
    <li><span class="separator">•</span></li>
    <li><a href="#ultimas-noticias" class="menu-link">Últimas Notícias</a></li>
    <li><span class="separator">•</span></li>
    <li><a href="#contatos" class="menu-link">Contatos</a></li>
    <li><span class="separator">•</span></li>
    <li><a href="#sobre" class="menu-link">Sobre Fernando Gil</a></li>
  </ul>
</div>
