
<div class="container__articles">
  <div class="articles__main">
    <app-big-card *ngIf="bigCard"
    [photoCover]="bigCard.photoCover"
    [cardTitle]="bigCard.title"
    [cardDescription]="bigCard.description"
    [Id]="bigCard.id"></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card *ngFor="let card of smallCards"
    [photoCover]="card.photoCover"
    [cardTitle]="card.title"
    [cardDescription]="card.description"
    [Id]="card.id"></app-small-card>
  </div>
</div>
